<app-header></app-header>
<div class="component-section" id="about"><app-hero></app-hero></div>

<div class="slider-container" id="slider-container">
    <div class="slider-track" id="slider-track">
        
        <div class="slider-item">
            <div class="component-section" id="experience"><app-experience></app-experience></div>
        </div>
        
        <div class="slider-item">
            <app-studies></app-studies>
        </div>
        
        <div class="slider-item">
            <app-portfolio></app-portfolio>
        </div>
        
        <div class="slider-item">
            <app-interests></app-interests>
        </div>

    </div>
</div>

<app-footer></app-footer>